
/* Contact Page Shapes */
.contact-page {
    position: relative;
    overflow: hidden;
}

.shapes-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.contact-content {
    position: relative;
    z-index: 1;
}

.shape {
    position: absolute;
}

.shape-top-right {
    top: -100px;
    right: -100px;
    width: 60%;
    max-width: 600px;
    height: auto;
    opacity: 0.8;
}

.shape-bottom-left {
    bottom: -50px;
    left: -50px;
    width: 50%;
    max-width: 500px;
    height: auto;
    opacity: 0.9;
}

.shape-bottom-right {
    bottom: -50px;
    right: -50px;
    width: 40%;
    max-width: 400px;
    height: auto;
    opacity: 0.8;
}
